p {
    margin: 6pm;
    padding: 6pm;
    border: 4px solid black;
    width: 100pm;
    height: 100pm;
    background: linear-gradient(aqua, violet) ;
}

.my-grid {
    display: grid;
    grid-template-columns: 33% 34% 33%;

}

.has-blue-background {
    background: linear-gradient(green, rgb(0, 174, 255));
    background-blend-mode: luminosity;
    border: 2px solid #721EE3;
}

.has-yellow-background {
    background: linear-gradient(yellow, orange);
    font-family: 'Oswald', sans-serif;
    background-blend-mode: luminosity;
    border: 2px solid orange;
}

.center-justify {
    justify-items: center;
}

body {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 35px;
    color: rgb(7, 50, 7)
}
.flexbox-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

button {
    color:red
}

button:hover{
    color:yellow
}